<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nwpu.se.avoserver.mapper.GroupMapper">

    <resultMap id="BaseResultMap" type="nwpu.se.avoserver.entity.Group">
            <id property="groupId" column="group_id" jdbcType="INTEGER"/>
            <result property="ownerId" column="owner_id" jdbcType="INTEGER"/>
            <result property="groupName" column="group_name" jdbcType="VARCHAR"/>
            <result property="members" column="members" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        group_id,owner_id,group_name,
        members,create_time,update_time
    </sql>


    <select id="getGroupById" resultMap="BaseResultMap">
        select * from t_group where group_id = #{groupId};
    </select>

    <insert id="createGroup">
        insert into t_group(group_id,owner_id,group_name,members) values (#{groupId}, #{ownerId}, #{groupName}, #{members});
    </insert>

    <update id="modifyGroupName">
        update t_group set group_name = #{groupName} where group_id = #{groupId};
    </update>

    <update id="updateMembers">
        update t_group set members = #{members} where group_id = #{groupID};
    </update>

</mapper>
