<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nwpu.se.avoserver.mapper.P2pMessageMapper">

    <resultMap id="BaseResultMap" type="nwpu.se.avoserver.entity.P2pMessage">
            <id property="messageId" column="message_id" jdbcType="BIGINT"/>
            <result property="fromId" column="from_id" jdbcType="INTEGER"/>
            <result property="toId" column="to_id" jdbcType="INTEGER"/>
            <result property="contentJson" column="content_json" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        message_id,from_id,to_id,
        content_json,create_time,update_time
    </sql>
</mapper>
